
.parent {
    width: 95%;
    height: 65%;
    outline: 8px solid black;
    display: grid;
    grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
    grid-auto-rows: 60px auto 100px;
    grid-template-areas: 
    "header header header" 
    "main main sidebar"
    "footer footer footer"
}

.head {
    grid-area: header;
}

.main {
    grid-area: main;
}

.foot {
    grid-area: footer;
}